
#ui-map:hover {
    cursor: pointer;
}

#ui-map {
    float: left;
    margin: 0 auto;
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.ui-map-square {
    width: 32px;
    height: 32px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}